.hero img {
    display: block;
    width: 100;
    height: auto;
}
h1 {
    position: relative;
    background-color: aqua;
}

article {
    position: absolute;
}
.article img{
    float: right;
}
header {
    margin: 1rem;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}
.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}
img{
    display: inline-block;
    inline-size: auto;
    flex: auto;
}
.h2 img{
    display: inline-block;
    inline-size: auto;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.employee img {
    width: 500px;
    height: auto; /* Maintain the aspect ratio */
    border-radius: 0; /* Optional: Make the images circular */
    display: block; 
    margin: 0 auto; 
}
.employee p {
    margin-top: 10px; /* Adjust spacing between image and text */
    margin-bottom: 0; /* Remove bottom margin */
    font-size: 1em; /* Adjust font size as needed */
    line-height: 1.2em; /* Adjust line height for spacing */}

.employee {
    text-align: center; /* Center align the text */
    margin-bottom: 20px; /* Adjust spacing between employee sections */
}
